html{
    box-sizing: border-box;
    font-size: 17px;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,ol{
	padding: 0;
	margin: 0;
}
ol,ul{
   list-style: none;
}
.header-1{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	background: transparent;
	padding: 21px 40px 0px 24px;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	transition: all ease 1s;

}

body{
	font-family: 'oswald','sans-sarif';
	font-weight: 400;
    color: white;
    line-height: 1.5;
    height: 2000px;
	
}

#header{
	position: absolute;
	width: 100%;

}
.header-1.fixedbar{
    position: fixed !important;
    background: deepskyblue;
    padding: 10px 40px 0 24px;
    box-shadow: 0 0 17px 0;
}

.logo{
	float: left;
	width: 100%;
	margin-top: 3px;
	text-align: left;
	padding: 0 0 27px;

}

.logo.img{
	max-width: 100%;
	height: auto;
}
.mainmenu{
	position: relative;


}
.mainmenu ul{
	margin: 0;
	padding: 0;

}
.mainmenu ul li{
	list-style: none;
	display: inline-block;
	line-height: 0.8;
	padding: 25px 20px 18px;
	position: relative;

}
.mainmenu ul li a{ 
	display: block; 
	color: white;
	 font-size: 16px; 
	 line-height: 0.8; 
	 text-transform: uppercase;
	  position: relative; 
	  text-decoration: none; 
	  padding:0px;
	  letter-spacing: 1px;
}
.mainmenu ul li a:after{ 
	position: absolute;   
	width: 0;
	height: 1px; 
	content: ''; 
	background: white; 
	left: 0;
	right: 0; 
	bottom: -5px;
	transition: all 0.4s ease-out;
}
.mainmenu ul li a:hover{
	color: white;
}
.mainmenu ul li a:hover:after{
	width:100%;
}
.nevigator{
	position: relative;
	padding: 21px 0 12px;
}
.navigator a{ 
	display: inline-block; 
	color: white; 
	line-height: 0.8; 
	font-size: 25px;
	 margin: 0;
}
.navigator a.search{ 
  margin-top: 12px;
}

img{
    max-width: 100%;
    height: auto;

}
a{
    text-decoration: none;
}

.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
    background: url(..//images//coronavirus-statistics-on-screen-3970330.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 121vh;
    overflow: hidden;
    
   
}

.prev,.next{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size:18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
.next{
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover{
    background-color: rgba(0,0,0,0.9);
}
.myslides h2{
    font-size: 166px;
    text-transform: uppercase;
    letter-spacing: 33px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    top:180px;
    left: 100px;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.myslides h2 span{
    display:block;
    text-align: right;
    font-size: 32px;
    letter-spacing: 20px;
    text-transform: capitalize;
    padding-right: 20px;
}
.myslides .p_img{
    display: block;
    width: auto;
    margin-top: -20px;
    height: 550px;
    padding-left: 40px;
    position:relative;
    z-index: 20;
    padding-bottom: 20px;
    animation-duration: 1.2s;
    animation-fill-mode:both;
    animation-name: slideInRight;
    
}
.myslides{
    padding-top: 190px;
}
.myslides .p_detail{
    width: 350px;
    position: absolute;
    top:180px;
    right: 100px;
    z-index: 30;
}
.myslides .p_detail h3{
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    margin-top: 175px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.myslides .p_detail h3 i{
    font-size: 18px;
    color: white;
    
}
.myslides .p_detail h3 i.rate{
    color: #ffcb00;
}

.myslides .p_detail  h4{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
     animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.myslides .p_detail  h4 span{
    color: #ffcb00
}
.myslides .p_detail  p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
     animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.myslides .p_detail  ul{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}
.myslides .p_detail  ul i{
    color: #ffcb00;
}
.myslides .p_detail  select{
    display: inline-block;
    border: 1px solid #ffcb00;
    background: #ffcb00;
    font-size: 19px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    
}
.myslides .p_detail a{
    font-size: 14px;
    color: deepskyblue;
    text-decoration: none;
    background-color: red;
    padding: 6px 20px;
    display: inline-block;
    border: 2px solid white;
    margin-right: 15px;
    transition: 0.5s background-color;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
.myslides .p_detail a:hover{
    color: orange;
}
.myslides .p_detail span{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.fadeInLeft{
    animation-name: fadeInLeft;
}
.fadeInUp{
    animation-name: fadeInUp;
}
.slideInRight{
    animation-name: slideInRight;
}
@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight{
    from{
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.service_section{
    color: #333;
    padding: 150px;
    
}
.dark{
    margin-top: 100px;
    color: #00bcd4;
    
}
.sec_title{
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 025px;
    padding: 14px 0;
    color: #333;
}
.color_aaa{
    color: darkgray;
}

.row.custom_column .col-lg-3.col-sm-4.col-md-3{
    width: 20% !important;
    flex: 0 0 20%;
}
.box{
    display: inline-block;
    position: relative;
    width: 100%;
    background: transparent;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: all ease 400ms;
}

.box .flipper{
    transform-origin: 100% 213.5px;
    margin-top: 60px;
    
}
.box .front i, .box .back i{
    font-size: 62px;
    line-height: 1;
    color: #aaaaaa;
    display: block;
    margin-bottom: 17px;
    transition: all ease 400ms;
}
.box .front h3, .box .back h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: 0;
}
.flipper{
    transform: perspective(1000px);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back{
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top:0;
    left: 0;
}

.front{
    background: transparent;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    border: 2px solid rgba(27, 27, 27, 1);
    padding: 48px 45px 45px ;
    width: 100%;
    
}
.back{
    background: #00bcd4;
    transform: rotateY(-180deg);
    position: relative;
    padding: 48px 45px 45px;
    border: 2px solid #00bcd4;
    width: 100%;
}

.box:hover .front{
    transform: rotateY(180deg);
}
.box:hover .back{
    transform: rotateY(0deg);
}
.box .back h3, .box .back i{
    color: white;
}
a.box.text-center{
    text-decoration: none;
}
/*--------------------dashboard------------------------*/
#update h2{

    background-color: grey;
    color: black;
    margin-left: 600px;
    padding: 10px;
    border-radius: 20px
}
/*-------features--------------*/

.p-large{
    color: #f1f1f8;
    font: 400 1rem/1.5rem;
    font-family: 'Oswald', sans-serif;
}
.p-heading{
    margin-bottom: 3.75rem;
    text-align: center;
}
.tabs{
    padding-top: 6.5rem;
    padding-bottom: 4.25rem;
    background-color: #046672;
}
.tabs .nav-tabs{
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
    justify-content: center;
    border-bottom: none;
}
.tabs .nav-link{
    margin-bottom: 1rem;
    padding: 0.5rem 1.375rem 0.25rem 1.375rem;
    border: none;
    border-bottom: 0.1875rem solid #f1f1f8;
    border-radius: 20;
    color: #f1f1f8;
    font:  700  1rem/1.75rem;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    transition: all 0.2s ease;
    
}
.tabs .nav-link.active{
    border-bottom: 0.1875rem solid #00c9db;
    background-color: transparent;
    color: #00c9db; 
}
.tabs nav-link.active,
.tabs .nav-link:hover{
    border-bottom: 0.1875rem solid #00c9db;
    background-color: transparent;
    color: #00c9db;

}

.tabs .nav-link .fa{
    margin-right: 0.375rem;
    font-size: 1rem;
}
.tabs .card{
    border: none;
    background: transparent;
}
.tabs .card-body{
    margin-bottom: 0.5rem;
}
.tabs .card-body p{
    font-family: 'Roboto Condensed', sans-serif; 
}

.tabs .card .card-icon{
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
   /* border-radius: 50%;
    background-color: #00c9db;
    text-align: center;
    vertical-align: top;*/
}
.tabs .card .card-icon .fa{
    color: white;
    font-size: 2rem;
    line-height: 4rem;
}
.tabs .card.left-pane .text-wrapper{
    display: inline-block;
    width: 68%;
    text-align: right;
}
.tabs .card.left-pane .card-icon{
    float: none;
    margin-right: 0;
    margin-left: 1rem;
   
}
.tabs img{
    display: block;
    margin: 0.3rem auto 3rem auto;
   
}
.tabs .img-fluid{
    
}


.tabs .card.right-pane .text-wrapper{
    display: inline-block;
    width: 68%;
    margin-left: 1rem;
}
/*----------------------tab 2 & tab 3-------------------------*/
/*.tabs .card .card-icon{
    width: 4rem; 
    height: 4rem;
}*/


.tabs .icon-cards-area .card{
    display: inline-block;
    width: 44%;
    margin-right: 2rem;
    vertical-align: top;
}
/*.tabs .card.left-pane .text-wrapper,
.tabs .card.right-pane .text-wrapper{
    width: 68%;
}*/
/*------------------------------------------------------------*/

.basic-2{
    color: #333;
}
.basic-3{
    color: #333;
    background-color
}
.basic-3 img{
   margin-top: 30px
}

.text-container h3{
    padding-bottom: 20px;
}
.text-container i{
    padding-left: 10px;
    font-size: 30px;
    color: grey;
    display: inline
}
.btn-solid-reg{
    color: white;
    border: 2px solid #00c9db;
    text-decoration:none;
    background: #00bcd4;
    padding: 14px 35px;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    font-weight: 400;
}
.btn-solid-reg:hover{
    border: 2px solid #00bcd4;
    text-decoration: none;
    background: transparent;
    color: deepskyblue;
}

#details-lightbox-1{
    width: 80%;
    height:100%;        
    background-color: darkslategray;
    margin:100px 0 0 120px;
    padding-right:;
    border:1px solid white ;
    border-radius: 10px;
  
}
#details-lightbox-2{
    width: 80%;
    height:100%;        
    background-color: darkcyan;
    margin:100px 0 0 120px;
    padding-right:;
    border:1px solid white ;
    border-radius: 10px
  
}
#details-lightbox-3{
    width: 80%;
    height:100%;        
    background-color:darkgoldenrod;
    margin:100px 0 0 120px;
    padding-right:;
    border:1px solid white ;
    border-radius: 10px
  
}
.lightbox-basic  .x-button{
    margin: 6rem 180px 0 0;
    color:  white;
    background-color: gainsboro;
    position: ;
  
}

.lightbox-basic img{
    padding:15px;
}
.lightbox-basic h3{
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-weight: 500
}

.lightbox-basic hr{
    width:50%;
    border: 2px solid deepskyblue;
}
.lightbox-basic h4{
    padding-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    
}
.lightbox-basic p{
   text-align: center;
    margin: 30px;
}

.lightbox-basic .icon-cell{
    color:;
    padding-right: 9px;
    
    
}
table, td {
       border: none;
       border-collapse: collapse;
}
 td {
       padding: 25px;
       text-align:center;
        
 }
#details-lightbox-2 a,#details-lightbox-1 a,#details-lightbox-3 a{
    margin-left: 200px;
    
}

.lightbox-basic .btn-solid-reg{
    
    background: #00bcd4;
    padding: 11px 35px;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}
.lightbox-basic .btn-solid-reg:hover{
    border: 2px solid #00bcd4;
    text-decoration: none;
    background: transparent;
}










.parallax-setting{
    width: 100%;
    height: 75vh;    
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(..//images//parallax4.jpg);
    background-position:top;
    background-attachment:fixed;
    justify-content: center;
}
.parallax-setting p{
    color: #00bcd4;
    font-size: 80px;
    margin-top: 40px 
    border-radius: 60px;
}

.parallax-setting h2{
    font-size: 45px;
    font-weight: 400;
    
}
.parallax-setting hr{
    color:#00bcd4;
    border: 2px solid #00bcd4;
    
}

.parallax-setting a:nth-child(odd){
    margin-top: 100px;
    background: #00bcd4;
    padding: 14px 35px;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    
}

.parallax-setting a:nth-child(even){
    margin-top: 100px;
    background: red;
    padding: 14px 35px;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    
}

.parallax-setting a:hover{
    border: 2px solid #00bcd4;
    text-decoration: none;
    background: transparent;
}
.parallax-setting a:nth-child(even):hover{
    border: 2px solid red;
    text-decoration: none;
    background: transparent;
}


/*------------------contact-------------------*/

.slido{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
    background-color: #111;
    font-family: sans-serif;
    }     
    .containor{
        min-width: 700px;
        min-height: 350px;
        border-radius: 20px;
        position: relative;
        transition: 1.5s ease-in-out;
        transform-style: preserve-3d;
    }  
    .sido{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 20px 50px;
        color: white;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        border-radius: 20px;
    }
    .contont{
        transform: translateZ(70px) scale(0.8);
        line-height: 1.5em;
    }
    .contont h1{
        position: relative;
        font-size: 20px;
        font-family: sans-serif;
        color: orange;
    
    }
    .contont h1:before{
        content: "";
        position: absolute;
        bottom: -20px;
        height: 3px;
        background-color: white;
        width: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    .fronto{
        z-index: 2;
        background-image: url(..//images/coronavirus-statistics-on-screen-3970333.jpg);
        background-size:cover;
        background-size: 108vh;
        color:white;
    }
    .backo{
        background-color: #333;
        transform: rotateY(180deg);
        z-index: 0;
        padding-top: 10px;
        background-image: url(..//images/coronaviru);
        background-size: cover;
    }
    .containor:hover{
        transform: rotateY(180deg);
    }
    .backo h1{
        margin-left: 20;
    }
    form label, form input{
        display: inline-block;
        color: white;
        font-size: 20px;
    }
    form input, form textarea{
        background: transparent;
        border: 0;
        border-bottom: 2px solid grey;
        padding: 5px;
        width: 100%;
        outline: none;
        color:white;
    }
    form label{
        margin: 0;
    } 
    form input[type="submit"]{
        display: block;
        width: auto;
        margin:10px auto;
        padding: 5px 10px;
        border: 3px solid black;
        border-radius: 4px;
        background-color: skyblue;
        cursor: pointer;
    }



/*--------------------------team part-------------------------*/

.testimonial-section {
    background: grey;
}

.flipster-carousel{
    display: none;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif; 
    background: grey;
}

.flip-item{
    width: 430px;
}
.flip-item .item-inner{
    padding: 2rem;
    border: 1px solid #efefef;
    background: white;
    
}
.flip-item .source-profile{
    width: 80px;
    height: 80px;
}
.flip-item .source-info{
    font-size: 1rem;
    margin-left: 20px;
}
.flipster--coverflow .flipster__item__content{
    -webkit-box-reflect:unset;
}

#flipster-carousel .flipster__button{
    width: 40px;
    height: 40px;
    margin-top: -3rem;
    background: #212b35;
    border-radius: 50%;
}
#flipster-carousel .flipster__button svg{
    width: 1rem;
    stroke: white;
}
#flipster-carousel .flipster__button svg:hover{
    stroke: white;
}

.pt-5 a{
    padding: 12px 30px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #00c9db;
    color: #00c9db;
    font-family: 'Roboto Condensed', sans-serif; 
}

/*----------footer----------------------------*/

.footer{
    background-color: lightgray;
}
.col-heading{
    color: black;
    padding-bottom: 20px;
}
.footer-col ul li{
   font-family: 'oswald', sans-serif;  
}

.mb-2{
    color: black;
    padding-top: 3px;
}
.mb-3, .section-intro{
    color: black;
}
.d-inline-block{
    margin-bottom: 50px;
    margin-top: 20px;
}



.download-area p{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.download-area p span{
    color: dodgerblue;
    transition: all 0.2 ease;
}

/*----------------------arrow-----------------------------*/
#back2Top{
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display:;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: #00c9db;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 6px;
    padding-bottom: 7px;
}

/*-----------------------------*/

/*#ttt{
    background:black;
    overflow: hidden;
    max-width: 85%;
    margin: 50px auto;
}


.tabdemo ul{
    margin: 0;
    padding: 0;
}
.tabdemo .tab-content-item{
    max-width: 1250px;
    height: 
}
.my-tabs{
    margin: 0 auto;
}
.my-tabs .tab-content-item{
    background:grey;
    columns:2;
    font-size: 17px;
    line-height: 32px;
    font-family: sans-serif;
    padding-left: 14px;
}

.my-tabs .tab-content-item img{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 79px;
}
 
.my-tabs .tab-menu{
   margin-bottom: 50px;
    display: table;
    width: 100%;
}

.my-tabs li{
    cursor: pointer;
    padding: 20px 20px;
    display: table-cell;
    text-decoration: none;
    text-align: center;
}
.my-tabs li:first-of-type{
    padding-left: 20px;
}
.my-tabs li:last-of-type{
    padding-right: 20px;
}

.my-tabs li a{
    background: white;
    border-radius: 50px;
    padding: 20px 20px;
    display: block;
    color: #333;
    font-family: sans-serif;
}
.my-tabs li.activo a{
    background-color: transparent;
    border: 2px solid white;
    color:white;
    border-radius: 50px;
}
*/

.open-popup{
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 2px solid deepskyblue;
    text-decoration: none;
    font-family: sans-serif;
}
.open-popup:hover{
    border: 4px solid deepskyblue;
    background-color: dodgerblue;
    text-decoration: none;
    font-family: sans-serif;
    color: white
}

.blank img{
    display: block;
    width: auto;
    margin-top: -20px;
    height: 700px;
    padding-left: 40px;
    position:relative;
    z-index: 20;
    padding-bottom: 20px;
}










































