@media (min-width:768px) and (max-width:990px){
    .col-lg-1.col-sm-2.col-md-2.right-search{
        position: absolute;
        right: 50%;
        top: 20px;
        margin-right: -34px;
        z-index: 99;
        width: 100%;
    }
    button.navbar-toggler{
        color:white;
    }
    col-lg-9.col-sm-7.col-md-7.top{
        position: relative;
        right: -50%;
        z-index: 99;
    }
    col-lg-9.col-sm-7.col-md-7.top{
        position: relative;
        right: 0;
        z-index: 99;
    }
    
    .myslides .p_detail{
    width: 350px;
    position: absolute;
    top:680px;
    right: 100px;
    z-index: 30;
}
.myslides .p_detail h3{
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    margin-top: 175px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.myslides .p_detail h3 i{
    font-size: 18px;
    color: white;
    
}
.myslides .p_detail h3 i.rate{
    color: #ffcb00;
}

.myslides .p_detail  h4{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
     animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.myslides .p_detail  p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
     animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.myslides .p_detail  ul{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}
.myslides .p_detail  ul i{
    color: #ffcb00;
}
.myslides .p_detail  select{
    display: inline-block;
    border: 1px solid #ffcb00;
    background: #ffcb00;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    
}
.myslides .p_detail a{
    font-size: 14px;
    color: deepskyblue;
    text-decoration: none;
    padding: 6px 20px;
    display: inline-block;
    border: 2px solid white;
    margin-right: 15px;
    transition: 0.5s background-color;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
.myslides .p_detail a:hover{
    color: orange;
}
.myslides .p_detail span{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}
   
 .box{
    display: inline-block;
    position: relative;
    width: 100%;
    background: transparent;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: all ease 400ms;
}

.box .flipper{
    transform-origin: 100% 215.5px;
    margin-top: 60px;
    
}
.box .front i, .box .back i{
    font-size: 56px;
    line-height: 1;
    color: #aaaaaa;
    display: block;
    margin-left: -15px;
    margin-bottom: 17px;
    transition: all ease 400ms;
}
.box .front h3, .box .back h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaaaaa;
    margin-left: -30px;
}
.flipper{
    transform: perspective(1000px);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back{
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top:0;
    left: 0;
}

 .front{
    background: transparent;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    border: 2px solid rgba(27, 27, 27, 1);
    padding: 48px 45px 45px ;
    width: 100%;
    
}
.back{
    background: #00bcd4;
    transform: rotateY(-180deg);
    position: relative;
    padding: 48px 45px 45px;
    border: 2px solid #00bcd4;
    width: 100%;
}

.box:hover .front{
    transform: rotateY(180deg);
}
.box:hover .back{
    transform: rotateY(0deg);
}
.box .back h3, .box .back i{
    color: white;
}
a.box.text-center{
    text-decoration: none;
}   
    
    
 /*--------------------popup------------------*/
 #details-lightbox-2 a,#details-lightbox-1 a{
     margin-bottom:20rem
    }
    
    
    
    
    
    
    
    
    
    
    
    

}