*,html,body
{
	margin:0;
	padding:0;
    
}

body
{
     height: auto;
     width: 100%;
    /*background-image: url(..//back.PNG);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
}
.menu-bar
{
    background: deepskyblue;
    text-align: center;
    height: 125px;
	line-height: 40px;
    box-shadow:0px 0px 17px 0px;
    transition: all 0.5 ease-in;
    width: 1000px;
    overflow:visible;
    position:absolute;
    margin-left: -50px;


}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li
{
    width: 195px;
    margin: 15px;
    padding: 15px;
    font-size: 25px;
   
}

.menu-bar ul li a
{
    text-decoration:none;
    color: white;
    
    
}

 .menu-bar ul li a:hover
{
	text-decoration: none;
	color: darkblue;
}
.menu-bar ul li:hover
{
    background: #00f4fc;
    
    border-radius:10px;
    
}


.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{
    display: none;
    overflow: auto;
    border: 2px solid black;
    max-height: 250px;
    max-width: :250px
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: deepskyblue;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 3px;

}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width:150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    text-align: center; 
    font-size: large;
   
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
   
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:darkblue;
    
}
footer {
  background-color: #777;
  padding: 30px;
  text-align: center;
  color: white;
}
footer i
{
    font-size: 55px;
    margin-right: 10px;
}
    
































































